# Handling Missing Values

Data Cleaning is a key part of Data Science.  

In this section, you will learn:  
1. How to handle missing values in your data
2. How to answer some of the most commonly-asked question about data cleaning

## Look at your Data

In [1]:
# Module 
import pandas as pd
import numpy as np

# Read in all your data
url = "https://raw.githubusercontent.com/DwikyXYudha/kaggle-learn-and-grow/main/learning-resources/travel-times.csv"
df = pd.read_csv(url)

# Set feed for reproducibility
np.random.seed(0)

In [24]:
# Look at the first five rows of df file
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [16]:
# Get the number of missing value data points per colum
missing_value_count = df.isnull().sum()

missing_value_count

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

In [12]:
# How many total missing value do we have?
total_cells = np.product(df.shape)
total_missing = missing_value_count.sum()

# Percent of data is missing
percent_missing = (total_missing / total_missing)
percent_missing

1.0

## Figure out why your data is missing
Use your "data intution" to figure out why the value is missing
You can ask yourself:
> **Is this value missing because it wasn't recorded or because it doesn't exist?**

- **The value wasn't recorded**: Sometimes, due to human error, technical issues, or other reasons, certain data points are not recorded or captured. For example, if a survey respondent forgets to answer a particular question, or if a sensor fails to measure a specific variable, the resulting value will be missing. If a value is missing because it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. This is called **imputation**.
- **The value doesn't exist**: In some cases, the missing value is not due to a recording error, but because the value itself doesn't exist or isn't applicable for that particular observation. For instance, if you have a dataset of student grades and a certain student didn't take a specific exam, the grade for that exam will be missing because it doesn't exist for that student.

## Drop missing values

If you're in a hurry or don't have a reason to figure out why your values are missing, one option you have is to just remove any rows or columns that contain missing values (not recommended).

If you're sure you want to drop rows with missing values, pandas does have a handy function, `dropna()`, to help you do this.

When applied to a DataFrame, `dropna()` removes any rows or columns that contain at least one missing value (NaN). By default, it drops rows with missing values, but you can specify the `axis` parameter to drop columns instead.

Description of `dropna()`:
- `dropna()` is used to eliminate rows or columns with missing values from a DataFrame or Series.
- By default, it removes rows containing any missing values.
- It can also be used to drop columns with missing values by specifying the `axis` parameter.
- It helps to clean and prepare data by removing incomplete or unreliable observations.
- After using `dropna()`, the DataFrame or Series will have fewer rows or columns, depending on the presence of missing values.
- Note that `dropna()` modifies the original DataFrame or Series in place unless the `inplace` parameter is set to `True`.

In [32]:
# Remove all the rows that contain a missing value
df_rows_dropped = df.dropna()
df_rows_dropped

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on
49,11/21/2011,07:24,Monday,GSK,52.25,127.3,38.1,50.3,10.05,82.3,62.4,No,Huge traffic backup
50,11/17/2011,16:16,Thursday,Home,51.16,127.6,72.4,77.4,10.05,42.4,39.6,No,Pumped tires up: check fuel economy improved?
52,11/16/2011,16:13,Wednesday,Home,51.12,125.1,65.0,73.1,9.53,47.2,41.9,No,Backed up at Bronte
54,11/15/2011,17:36,Tuesday,Home,51.06,122.8,61.4,70.9,9.53,49.9,43.2,No,Backed up at Bronte
60,11/9/2011,16:15,Wednesday,Home,51.28,121.4,65.9,71.8,9.35,46.7,42.1,No,Rainy
78,10/25/2011,17:24,Tuesday,Home,52.87,123.5,65.1,72.4,8.97,48.7,43.8,No,"Rain, rain, rain"
91,10/12/2011,17:47,Wednesday,Home,51.40,114.4,59.7,65.8,8.75,51.7,46.9,No,"Rain, rain, rain"
92,10/12/2011,08:28,Wednesday,GSK,50.58,128.4,59.5,67.3,8.75,51.0,45.1,Yes,Accident: backup from Hamilton to 407 ramp
110,9/27/2011,07:36,Tuesday,GSK,50.65,128.1,86.3,88.6,8.31,35.2,34.3,Yes,Raining
132,9/7/2011,07:57,Wednesday,GSK,49.08,125.1,56.5,66.5,8.5,52.1,44.3,No,Back to school traffic?
133,9/6/2011,16:27,Tuesday,Home,52.88,131.6,95.4,98.3,8.5,33.3,32.3,Yes,Took 407 all the way (to McMaster)
150,8/24/2011,07:59,Wednesday,GSK,49.07,127.1,58.5,71.5,8.54,50.3,41.1,No,Heavy volume on Derry
156,8/19/2011,07:05,Friday,GSK,49.18,123.0,72.0,81.4,8.37,41.0,36.3,No,Start early to run a batch
158,8/18/2011,08:11,Thursday,GSK,52.26,137.7,51.2,64.1,8.37,61.2,48.9,No,Accident at 403/highway 6; detour along Dundas
165,8/12/2011,17:25,Friday,Home,55.57,127.7,69.6,77.1,8.54,47.9,43.2,No,Detour taken
166,8/12/2011,08:05,Friday,GSK,49.02,128.4,76.7,82.9,8.54,38.4,35.5,No,Must be Friday
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No,Medium amount of rain
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No,New tires
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit

In [44]:
# How much data we lose?
print("Rows in original dataset: %d \n" % df.shape[0])
print("Rows with na's dropped: %d \n" % df_rows_dropped.shape[0])

Rows in original dataset: 205

Rows with na's dropped: 23

In [37]:
# Remove all collums that contain a missing value, at least one missing value
df_columns_dropped = df.dropna(axis=1)
df_columns_dropped

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,49.5,33.6,Yes

In [45]:
# How much data we lose?
print("Columns in original dataset: %d \n" % df.shape[1])
print("Columns with na's dropped: %d \n" % df_columns_dropped.shape[1])

Columns in original dataset: 13

Columns with na's dropped: 11

In [48]:
# Get a small subset of the dataset original
subset_df = df.loc[:, "FuelEconomy": "Comments"]
subset_df

    FuelEconomy  TotalTime  MovingTime Take407All Comments
0           NaN       39.3        36.3         No      NaN
1           NaN       37.9        34.9         No      NaN
2           NaN       37.5        35.9         No      NaN
3           NaN       39.8        35.6         No      NaN
4           NaN       36.8        34.8         No      NaN
..          ...        ...         ...        ...      ...
200        7.89       65.5        39.7         No      NaN
201        7.89       40.1        32.1        Yes      NaN
202         NaN       54.2        40.6        Yes      NaN
203         NaN       51.9        36.5        Yes      NaN
204         NaN       49.5        33.6        Yes      NaN

[205 rows x 5 columns]

## Filling in missing data automatically
We can use the Panda's `fillna()` function to fill or replace missing values (NaN) in a DataFrame or Series with specified values.

Description of `fillna()`:

- `fillna()` is used to replace missing values with specified values in a DataFrame or Series.
- It helps to handle missing data by providing a strategy for filling in or replacing the missing values.
- You can specify the replacement value as a constant or use various methods such as forward filling or backward filling to propagate non-null values.
- It allows you to customize how missing values are filled based on your data and analysis requirements.
- After using `fillna()`, the DataFrame or Series will have the missing values replaced with the specified values.
- Note that `fillna()` does not modify the original DataFrame or Series unless the `inplace` parameter is set to `True`.

In [62]:
# Replace all NA's with 0
subset_df.fillna(0)

    FuelEconomy  TotalTime  MovingTime Take407All Comments
0             0       39.3        36.3         No        0
1             0       37.9        34.9         No        0
2             0       37.5        35.9         No        0
3             0       39.8        35.6         No        0
4             0       36.8        34.8         No        0
..          ...        ...         ...        ...      ...
200        7.89       65.5        39.7         No        0
201        7.89       40.1        32.1        Yes        0
202           0       54.2        40.6        Yes        0
203           0       51.9        36.5        Yes        0
204           0       49.5        33.6        Yes        0

[205 rows x 5 columns]

## Approaches for Handling Missing Values in Sequential Data

- **Sequential data**: If we have sequential data in a DataFrame and missing values are generated due to missing data in a specific order, replacing NA with the value that directly follows NA in the same column can be a reasonable approach. For example, if we have time-ordered data in a column, and some missing values occur after existing values, using `fillna(method='bfill', axis=0)` will fill the missing values with the subsequent values in chronological order.
- **Propagation of non-null values**: If we want to fill missing values with the last available value in the same column, especially in cases where the previous values do not change significantly, using `fillna(method='bfill', axis=0)` can effectively fill the missing values.
- **General replacement**: If we want to replace all missing values with the same value to create more complete data or for analysis that requires consistent value filling, using `fillna(0)` after using `fillna(method='bfill', axis=0)` will replace the remaining missing values with the value 0.

In [61]:
# Replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_df.fillna(method='ffill', axis=0).fillna(0)

    FuelEconomy  TotalTime  MovingTime Take407All                   Comments
0             0       39.3        36.3         No                          0
1             0       37.9        34.9         No                          0
2             0       37.5        35.9         No                          0
3             0       39.8        35.6         No                          0
4             0       36.8        34.8         No                          0
..          ...        ...         ...        ...                        ...
200        7.89       65.5        39.7         No  Accident blocked 407 exit
201        7.89       40.1        32.1        Yes  Accident blocked 407 exit
202        7.89       54.2        40.6        Yes  Accident blocked 407 exit
203        7.89       51.9        36.5        Yes  Accident blocked 407 exit
204        7.89       49.5        33.6        Yes  Accident blocked 407 exit

[205 rows x 5 columns]

## Understanding the Use of ffill and bfill for Filling Missing Values in Data

In data analysis and preprocessing, dealing with missing values is a common challenge. Two popular methods for filling missing values in a dataset are `ffill` (forward fill) and `bfill` (backward fill). Understanding when to use each method is important to ensure accurate and meaningful data imputation.

### Forward Fill (ffill)

If the order of data is meaningful, such as in temporal data or sequential observations, using `ffill` is often appropriate. The `ffill` method replaces missing values with the immediately following values in the same column, thus preserving the existing order.

Considerations for using `ffill` include:

1. Preserving data order: `ffill` ensures that the filled values maintain the order of the original data, which can be essential for time-series analysis or when the sequence of observations is significant.

2. Consistency: If the data tends to have slow trends or gradual changes, using `ffill` can produce more conservative and consistent results.

### Backward Fill (bfill)

If you want to utilize future information when filling missing values, such as in forecasting scenarios, `bfill` is more suitable. The `bfill` method replaces missing values with the immediately preceding values in the same column, allowing the utilization of future information within the data order.

Considerations for using `bfill` include:

1. Incorporating future information: By replacing missing values with preceding values, `bfill` allows the use of future information within the data order, which can be beneficial for predictive modeling or decision-making.

2. Reacting to rapid changes: If the data tends to have fluctuating or quickly changing patterns, `bfill` can be more appropriate to capture the effects of sudden shifts or extreme observations.

### Other Considerations

Besides the ordering and information aspects, several other factors may influence the choice between `ffill` and `bfill`:

1. Data nature: Understanding the characteristics of your data, such as its volatility or stability, can guide the selection of `ffill` or `bfill`. Assess whether the missing values tend to occur in sequences or clusters, and consider the data's inherent properties.

2. Analysis objectives: Consider your specific analysis goals and how the choice of filling method may impact the results. Depending on the context or assumptions made in your analysis, either `ffill` or `bfill` may be more appropriate.

3. Extreme data: If the data exhibits extreme outliers or significant spikes after missing values, using either `ffill` or `bfill` alone might not be suitable. In such cases, consider more advanced or adaptive imputation techniques.

By understanding the differences between `ffill` and `bfill` and considering the nature of your data, analysis objectives, and the order of information, you can make an informed decision on which method to use for filling missing values in your dataset.